---
import { getCollection } from 'astro:content';
import { title } from '../common.ts';

import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1>TÒTEMS</h1>
    <br />
    <blockquote>
        <p>Com seria, em pregunto, viure constantment amb aquesta sensibilitat aguditzada cap a les vides que hem rebut?. Seria viure en comunitat, seria escoltar les veus dels rius, els vents, els arbres, tendir la mà a la resta d'espècies. Seria prendre, de veritat, només allò que necessitem, seria conviure en una harmonia ecològica basada en la reciprocitat i l'intercanvi de dons.</p>
    <p class="author">&mdash; <em>Una trenza de hierba sagrada</em>, Robin Kimmerer</p>
    </blockquote>
    <br />
    <p>Despertar una consciència ecològica requereix del reconeixement i la celebració de la nostra relació recíproca amb la resta del món vivent. Només quan puguem escoltar els llenguatges d'altres éssers serem capaços de comprendre la generositat de la terra i aprendre a donar els nostres propis dons a canvi. L'autolimitació és la condició que possibilita el jo ecològic i la consciència biocèntrica.</p>
    <p>Sota aquesta filosofia, el projecte TÒTEMS vol incitar a la reflexió sobre la relació entre l’ésser humà i la natura a través d’experiències estètiques immersives que reforcen el sentiment de pertinença a la Natura, mitjançant una mirada biocèntrica i multiespècie.</p>
    <p>TÒTEMS opera a tres nivells, un pla físic, un pla estètic i altre poètic. Des del primer experimentem amb materials naturals i de proximitat, explorant els seus processos artesanals de transformació i treballant amb tècniques que prioritzen un mínim impacte sobre el medi ambient. Des de l'estètic volem potenciar, a més de la contemplació de la bellessa natural, els efectes beneficiosos d'una mirada activa que ens aprope a la interacció amb altres espècies, superant l'antropocentrisme imperant. En el pla poètic, deixem el text per fer l'acció:</p>
    <div class="action">
    <p>Pausa. Silenci. Tanca els ulls. Escolta.</p>
    <p>Respira.</p>
    <p>Inspira. Expira. Inspira. Expira.Inspira. Expira.</p>
    <p>Sent el bosc i deixa que la seua presència et parle.</p>
    <p>Obri els ulls i fixa la mirada en el tòtem.</p>
    <p>L'escoltes?</p>
    <p>Et parla de l'arbre que un dia va ser. El seu esperit encara viu en ell per això manté la seua verticalitat.</p>
    <p>Sap que li agraeixes tot el que et dona, i per això, et convida a seure amb ell. Al mateix nivell. Conversar com iguals.</p>
    <p>Ell és un refugi de vida del qual tu formes part.</p>
    </div>

    <p>Els parlaments al bosc esdevenen rituals des del totenisme per aprendre de nou el llenguatge perdut de la natura. Cada parlament és un gest de reverència i un acte de regeneració, on la reciprocitat i la cura fan crèixer el nostre <em>"jo ecològic"</em>.</p>
    <p>GRÀCIES</p>
</Layout>

<style>
    .action {
        margin: 2em 1em;
        color: oklch(43.7% 0.078 188.216);
        font-style: italic;
    }

    .author {
        text-align: right;
    }
</style>
